<!DOCTYPE html>
<html>
  <head>
    <title>LostRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="dicoding:email" content="arif.ikhsanudin.id@gmail.com" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
